@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
/* ### Primary */

--strong-cyan: hsl(172, 67%, 45%);

/* ### Neutral */

--very-dark-cyan: hsl(183, 100%, 15%);
--very-dark-cyan-button: hsl(183, 75%, 25%);
--dark-grayish-cyan: hsl(151, 14%, 43%);
--grayish-cyan: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--very-light-grayish-cyan: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

header{
    margin-bottom: 7rem;
}

.logo{
    margin-bottom: -30rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--white);
    width: 700px;
    border-radius: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.col{
    margin: 0.5rem;
}

.first-col{
    padding: 0.75rem;
}

.second-col{
    background: var(--very-dark-cyan);
    border-radius: 1rem;
    padding: 2rem;
}

.form-control{
    position: relative;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 0.15rem 0.6rem;
  }

li{
    background: var(--very-dark-cyan);
    margin: 0.5rem;
    height: 2.5rem;
    display: inline-block;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

li:hover, button:hover{
    background: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
}

li.custom{
    padding: 0;
}

label{
    font-size: 12px;
    display: block;
    color: var(--very-dark-cyan);
    margin-bottom: 0.25rem;
}

p#nop-label{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: rgb(255, 53, 22);
    display: none;
}
    

p#nop-label.err{
   
    display: block;
}

input, #tip{
    margin-bottom: 1.5rem;
}

#tip{
    border: 0;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

input.custom-input{
    background: var(--very-light-grayish-cyan);
    width: 100%;
    height: 100%;
    color: var(--very-dark-cyan);
    overflow: hidden;
    font-size: 1rem;
    border-radius: 0.25rem;
}

li.active{
    background-color: var(--strong-cyan);
}

input{
    background-color: var(--very-light-grayish-cyan);
    border: 0;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    text-align: right;
    color: var(--very-dark-cyan);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.25rem;
    height: 2rem;
}

input:placeholder-shown{
    font-family: 'Space Mono', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

h2{
    color: var(--white);
    font-size: 12px;
}

small{
    color: var(--grayish-cyan);
}

.price {
    position: relative;
    margin-bottom: 2rem ;
}

.price p{
    color: var(--strong-cyan);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
}

button{
    background-color: var(--strong-cyan);
    border: 0;
    width: 100%;
    padding: 0.5rem;
    text-transform: uppercase;
    margin-top: 6rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled{
    background: var(--very-dark-cyan-button);
    color: var(--very-dark-cyan);
    cursor: not-allowed;
}

input.bill{
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 10px;
    text-align: right;
}

input.number{
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 10px;
}

input:focus{
    outline: 2px solid var(--strong-cyan);
  
}

@media (max-width:900px){
    main{
        width: 350px;
        grid-template-columns: 1fr;
    }
}    
